body {
    background-color: lightgrey;
  }

body::before {
    display: block;
    content: "";
    height: 60px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
    
}

.vl {
    border-left: 3px solid rgb(6, 27, 6);
    height: 50px;
  }

 
.showcase {
  background-image: url('images/showcase3.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.news {
    background-image: url('images/showcase2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.circle {
  border-radius: 50%;
  width: 500px;
  height: 500px;
}


